/*FONTS*/
@font-face {
	font-family: title_font;
	src: url(basictitlefont.woff);
}
html {
	background-image: url("images/hipster.jpg");
	z-index: -1;
}
/*BODY*/
body {
	margin: 0px;

}
/*TOP NAVIGATION*/
.header {
	height: 150px;
	background: #C2FFD6;
}
.welcome {
	font-family: title_font;
	font-size: 40px;
	text-align: center;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	height: 75px;
	top: 5%;
}
/*GENERAL NAVIGATION*/
.nav {
	top:40px;
	position: relative;
	width: 100%;
	margin: 0px;
	z-index: 1;
	text-align: center;
	font-family: fantasy;
}
.nav .link {
	display: inline-block;
	width: 80px;
	margin: 0 20px;
	text-align: center;
	cursor: pointer;
	font-style: Helvetica;
}
.header_nav {
	top: 70%;
}
/*SCROLL NAVIGATION*/
.scroll {
	width: 100%;
	background: rgba(194, 255, 214, 0.6);
	font-style: Helvetica;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 60px;
}
.scroll_nav {
	top: 37%;
}
/*CONTENT*/
.content {
	margin: 40px 200px 40px;
	background-color: rgba(255,255,255,0.70);
	padding: 5px;
}
/*INTRO*/
.intro img.profile {
	margin: 10px;
	height: 300px;
	width: 300px;
	border-radius: 200px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}
